name: Publish Package to PyPI

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Python Poetry Action
        uses: abatilo/actions-poetry@v2.1.0
        with:
          pypi_token: ${{ secrets.pypi_api_token }}
      - name: Publish Package
        run: poetry publish

